In [7]:
from _Setting import StockSetting
import tushare  as ts
import numpy as np
import pandas as pd
from pyspark.sql import SparkSession
import json
from pyspark.sql.types import StructType, StructField, StringType, DoubleType

In [2]:
spark = SparkSession.builder \
        .appName("_Spark_makeSource") \
        .master("local[*]") \
        .config('spark.submit.pyFiles', '/work/dev/stock/_Setting.py') \
        .getOrCreate()
settings = StockSetting()

2022-04-12 10:59:10,242 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
pro = ts.pro_api(settings.tushareKey)#603209.SH  603213.SH 603215.SH
data_daily_local = pro.daily_basic(  ts_code='603209.SH' )
data_daily_local.head()
#data_daily_hadop = spark.createDataFrame(data_daily_local) 
#data_daily_hadop.show()

,ts_code,trade_date,close,turnover_rate,turnover_rate_f,volume_ratio,pe,pe_ttm,pb,ps,ps_ttm,dv_ratio,dv_ttm,total_share,float_share,free_share,total_mv,circ_mv
0,603209.SH,20220411,24.00,21.6538,21.6538,0.58,24.1103,24.1103,2.5795,8.4677,8.4677,None,None,20000.0,5000.0,5000.0,480000.0,120000.0
1,603209.SH,20220408,25.75,30.9950,30.9950,0.78,25.8683,25.8683,2.7676,9.0851,9.0851,None,None,20000.0,5000.0,5000.0,515000.0,128750.0
2,603209.SH,20220407,27.61,33.3953,33.3953,0.96,27.7369,27.7369,2.9675,9.7414,9.7414,None,None,20000.0,5000.0,5000.0,552200.0,138050.0
3,603209.SH,20220406,26.73,35.7765,35.7765,0.89,26.8528,26.8528,2.8729,9.4309,9.4309,None,None,20000.0,5000.0,5000.0,534600.0,133650.0
4,603209.SH,20220401,29.70,49.4638,49.4638,1.61,29.8365,29.8365,3.1921,10.4788,10.4788,None,None,20000.0,5000.0,5000.0,594000.0,148500.0

In [8]:
#data_daily_hadop = spark.createDataFrame(data_daily_local) 
schema = StructType([
    StructField("ts_code", StringType(), True)
    , StructField("trade_date", StringType(), True)
    , StructField("close", DoubleType(), True)
    , StructField("turnover_rate", DoubleType(), True)
    , StructField("turnover_rate_f", DoubleType(), True)
    , StructField("volume_ratio", DoubleType(), True)
    , StructField("pe", DoubleType(), True)
    , StructField("pe_ttm", DoubleType(), True)
    , StructField("pb", DoubleType(), True)
    , StructField("ps", DoubleType(), True)
    , StructField("ps_ttm", DoubleType(), True)
    , StructField("dv_ratio", DoubleType(), True)
    , StructField("dv_ttm", DoubleType(), True)
    , StructField("total_share", DoubleType(), True)
    , StructField("float_share", DoubleType(), True)
    , StructField("free_share", DoubleType(), True)
    , StructField("total_mv", DoubleType(), True)
    , StructField("circ_mv", DoubleType(), True)
    ])
values = data_daily_local.values.tolist()
#columns = data_daily_local.columns.tolist() 
data_spark = spark.createDataFrame(values, schema)

In [10]:
try:
    raise("ex ex ex")
except Exception as e:
    print("fff",e)

fff exceptions must derive from BaseException